@import '../../variables.scss';

body {
    font-family: $font-stack;
    margin: 0px;
    background-color: $backgroundColor;
    margin-bottom: 50px;
}

.alert {
    margin: 10px;
    text-align: center;
}

.loginForm {
    display: block;
    text-align: center;
    width: 80%;
    max-width: 300px;
    padding: 6px 10px;
    margin: 0px auto;
    border-radius: 6px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.browseBox{
    max-width: 500px;
    width: 90%;
    display: inline-block;
    background-color: $tertiaryColor;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
}

.browseImage{
    width: 100%;
}

.teaImage{
   width: 100%;
}

.wrapper{
    margin: 0 auto;
    width: 98%;
}

.centerTimerSearch{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    max-width: 600px;
}

button{
    margin: 10px;
    padding: 4px 20px;
    border-radius: 4px;
    border: none;
    background-color: $tertiaryColor;
}
button:hover{
    background-color: $tertiaryColorGrad;
}

h1{
    font-size: 5vh;
    color: $primaryColor;
}
h2{
    font-size: 3vh;
    color: $primaryColor;
}
