$primaryColor: #D4965B;
$secondaryColor: #94B3AD;
$tertiaryColor: #EDE7DB;
$tertiaryColorGrad: #d5d1c6;
$primaryAccentColor: #8C3A27;
$secondaryAccentColor: #BECABC;
$backgroundColor: #fefefe;

$font-stack: 'Helvetica Neue', Helvetica, sans-serif;